<div id='map'>
</div>
<!-- /.intro-header -->
<!-- Page Content -->
<a  name="services"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <br>
      <hr>
      <br>
      <h1 class="para-header" align="center">What is Monarch?</h1>
      <br>
      <div class="col-lg-5 col-lg-offset-1 col-sm-6">
        <br>
        <%= image_tag "pic2.png", class: "index-image" %>
      </div>
      <div class="col-lg-5 col-lg-offset-1 col-sm-6">
        <div class="clearfix"></div>
        <p class="lead">Monarch allows you to share and recommend your travel experiences with everyone. After a nice trip, you can export your pics and share about your awesome experiences. Whether it's a relaxing nap on Hawaii's warm beaches, eating Crepes in Paris, or having a midnight walk in New York City. Post your most memorable experiences and let everyone know where you think they should go next. </p>
        
      </div>
    </div>
  </div>
</div>
<!-- /.content-section-a -->
<a  name="services"></a>
<div class="content-section-a">
  <div class="container">
    <hr>
    <br>
    <div class="row">
      <h1 class="para-header" align="center">Share Your Experience</h1>
      <br>
      <div class="col-lg-5 col-lg-offset-1 col-sm-6">
        <div class="clearfix"></div>
        
        <h3 class="section-heading">Peaceful Bike Ride in San Francisco</h3>
        <p class="lead">Starting in Park Merced on a foggy morning, we rode our bikes casually down 19th street. We stopped by West Portal to grab a quick bite to eat, and continued on. We passed the famous Golden Gate Park and turned on Balboa and stopped by JapanTown. Then we took the Muni back to Park Merced and had dinner at the Galleria. If you're looking for relaxing bike ride, try biking on 19th street. It's about a 4 mile bike ride and I know you won't miss out!</p>
        <p><em>-Cynthia, emailtest5656</em></p>
      </div>
      <div class="col-lg-5 col-lg-offset-1 col-sm-6">
        <br><br><br>
        <%= image_tag "pic1.png", class: "index-image" %>
      </div>
    </div>
  </div>
</div>
<!-- /.content-section-a -->
<hr>
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div align="center">
        <p class="copyright text-muted small">Copyright &copy; CAT 2016. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>