/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";
@import "index";
@import "font-awesome-sprockets";
@import "font-awesome";

.btn-success {
  background-color: #062F3D;
  border: none;
}
.btn-success:hover {
  background-color: #074256;
}
.navbar-default {
  border: none;
  border-radius: 0;
	margin-bottom: 0px;  
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .open > .dropdown-menu, .dropdown-menu > li > a {
  background-color: #062F3D;
  color: white;
  border-radius: 0;
}
.pagination > li > a, .pagination > li > span {
  border: none;
  color: #4c5635;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #062F3D;
  border: none;
}
#map { 
	width:100%; height: 600px
}
.pagination_holder {
	margin: 0 auto
}
.pagination {
  margin: 0;
}

/* user profile */

#profile {
	margin-top: 20px;
}
.avatar, .user-info {
	margin: 0 auto;
}
.user-posts, .user-cities {
	float: left;
  width: 50%;
}
.posts-cities {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 55px;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.post-counts, .city-counts {
  display: block;
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
}
.user-edit-delete {
	text-align: center;
}
.user-edit-delete .btn {
	min-width: 125px;
}

/* home page */

div.learn-more-holder {
  background-color: #FBFFF5;
  margin-top: -45px;
}
#learn-more {
  font-size: 75px;
  color: #062F3D;
}
.content-section-a {
  background-color: #FBFFF5;
  padding-bottom: 10px;
}
#join-us {
  padding: 25px 15px 0px 15px;
  font-family: 'ikaros_sans_regularregular';
  font-size: 36px;
  background-color: #062F3D;
  color: white;
}
hr.line {
  margin: 0px;
}
footer {
  background-color: #062F3D;
  padding: 15px 0px 5px 0px;
}
p.copyright {
  color: #777;
  font-size: 16px;
}

/*post page*/

.post {
  margin-top: 20px;
  padding: 20px;
  background-color: #F7F7F7;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
}
.post-content {
  margin: 20px;
}
.post-content .fa-pencil-square-o, .post-content .fa-trash-o {
  font-size: 20px;
  margin: 0px 10px 0px 10px;
}
.post-content p {
  font-size: 16px;
}
#visit-button {
  margin-top: 10px;
  font-size: 20px;
  padding: 15px;
}

/*city page*/

#city_page {
  background-color: #DFEBCF;
}
#city_list .btn-default {
  border: none;
  border-radius: 0;
  background-color: #062F3D;
  color: white;
  min-width: 160px;
}
.boostrap-pagination {
  margin: 20px 0px 20px 0px;
}